#chaine {
  position: static;
  z-index: 2;
  display: flex;
  overflow-x: auto;
  overflow-x: scroll;
  margin: auto;
  gap: 10px;
}

#chaine .card {
  min-width: 40%;
  max-width: 50;
  margin: 2px 10px;
  height: max-content;
  background-color: #fff;
  border: 1px solid #0095f8;
  border-radius: 8px;
  overflow: hidden;
  padding: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#chaine .card hr{
  margin-bottom: 10px;
  margin-top: 10px;
}
#chaine .card .Title{
  margin-bottom: 3px;
  margin-top: 0px;
  font-size: 14px;
  color: blue;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em; /* Hauteur de ligne */
  max-height: 3.2em; /* Ajustez selon la taille de la police */
}
#chaine .card .details{
  font-size: 12px;
  color: rgb(255, 60, 0);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em; /* Hauteur de ligne */
  max-height: 3.2em; /* Ajustez selon la taille de la police */
}

#chaine .card button{
  padding: 2px 5px;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  display: block;
  margin:5px auto;
}
.cardChaine{
  display: flex;
  gap: 5px;
}

.cardChaine .cardItem {
  width: 100%;
  background: #f9f9f9;
  padding: 2px;
  margin: 5px auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cardChaine .cardItem h3{
  font-size: 14px;
  text-align: center;
  color: #0075fc;
}

.cardChaine .cardItem h4{
  font-size: 12px;
  text-align: center;
  color: #fc3700;
}

.cardChaine .cardItem button{
  font-size: 12px;
  margin: 4px 10px;
  border: none;

}

.cardHome {
  background: #f9f9f9;
  padding: 2px;
  margin: 5px auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cardHome p{
  font-size: 14px;
  margin: 10px;
}
.cardHome button{
  padding: 5px 20px;
}
  
  
  .search {
    width: 100%; /* Adjust width as needed */
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(125, 129, 131, 0.7);
  }
  
  #searchInput {
    padding: 5px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    font-size: 12px;
    background-color: #f1f1f1;
    width: 100%;
  }
  
  #searchInput:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
  }
  
  .barfiltre {
    margin: 1px auto 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(192, 1, 1);
  }
  
  .btn {
    padding: 5px;
    background-color: #0075fc;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
  }
  
  .btn.active {
    background-color: #ff9100;
  }
  
  .title{
    background: #0095f8;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
  }


  .card{
    min-width: 98%;
    display: flex;
    overflow-x: auto;
    overflow-x: scroll;
    margin: auto;
  
  }
  
.card::after{
  content: "";
  display: block;
  clear: both;
}

.card .items{
  min-width: 250px;
  height: 100%;
  margin: 5px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 1px;
}
.card .youtube{
  background-color: red;
}
.card .whatsapp{
  background: green;
}
.card .tiktoks{
  background-color: black;
}
.card .items img{
  border: 2px solid rgb(197, 197, 197);
  border-radius: 7px;
  margin: auto;
  align-self: center;
  display: block;
}
.items h2{
  font-size: 16PX;
  text-align: center;
  margin: 2px;
  color: #ffffff;
  margin: 2px;
}
.items p{
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 2px;
}
.card .items button{
  background-color: rgb(0, 140, 255);
  padding: 6px;
  font-size: 14px;
  display: block;
  margin:5px auto;
  cursor: pointer;
  color: white;
  border: none;
}
  
  
  #blog {
    position: static;
    z-index: 2;
    display: flex;
    overflow-x: auto;
    overflow-x: scroll;
    margin: auto;
    gap: 10px;
  }
  
  .post {
    min-width: 96%;
    max-width: 98%;
    margin: 2px 10px;
    height: max-content;
    background-color: #fff;
    border: 1px solid #0095f8;
    border-radius: 8px;
    overflow: hidden;
    padding: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .book .post{
    border: 3px solid blue;
    min-width: 100px;
    max-width: 100px;
  }
  
  .post .img {
    position: relative;
    max-height: 100px;
    overflow: hidden;
  }
  .post .img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .post .img .categorie {
    background-color: #0095f8;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 12px;
  }
  
      /*titre du soustire*/
    .post h1{
      color: rgb(0, 81, 255);
      margin-bottom: 2px;
      font-size: 14px;
      text-align: center;
      white-space: nowrap; /* Prevents wrapping to the next line */
      overflow: hidden; /* Hides any content that overflows the container */
      text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate text overflow */
    }
    .post p{
      font-size: 12px;
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Limite à 4 lignes */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin: 2px;
    }
  
    .barall{
      min-width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      gap: 5px;
      padding:1px 3px 1px 3px;
      border: 1px solid ;
    }
    .barlike, .bardislike, .barcomment {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      border: 1px solid rgb(255, 255, 255);
      align-items: center;
      justify-content: space-around;
    }
    
    .barlike .btnlike, .bardislike button {
      border: 1px solid #3498db;
      background-color: #fff;
      color: #3498db;
      padding: 1px 2px;
      margin:2px 4px 2px 4px;
      cursor: pointer;
      font-size: 10px;
    }
    .barshare{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    }
    .fa-whatsapp{
      background-color: green;
      padding: 2px 4px 2px 4px;
      font-size: 14px;
      color: #ffffff;
      margin-right: 3px;
      border: 1px solid white;
    }
    .fa-facebook{
      background-color: rgb(5, 66, 145);
      padding: 2px 4px 2px 4px;
      font-size: 14px;
      color: #ffffff;
      margin-right: 3px;
      border: 1px solid white;
    }
  
    .fa-twitter{
      background-color: rgb(4, 112, 201);
      padding: 2px 4px 2px 4px;
      font-size: 14px;
      color: #ffffff;
      margin-right: 3px;
      border: 1px solid white;
    }
    .barshare span{
      background: white;
      padding: 1px 5px 1px 5px;
      margin-left: -5px;
    }
    .barlike span{
      color: blue;
      font-size: 10px;
    }
    
    .barlike .btnlike:hover, .bardislike button:hover {
      background-color: #3498db;
      color: #fff;
    }
  
    .btnprix {
      background-color: #ccc;
      display: flex;
      align-items: center;
      align-items: center;
      border: 0px;
      padding: 1px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 0px;
    }
    
    .btnprix button {
      background-color: #3498db;
      color: white;
      width: 100%;
      padding: 2px 5px 2px 5px;
      border: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 8px;
    }
    
    .btnprix p {
      width: 100%;
      background-color: #fffbfb;
      color: rgb(245, 0, 0);
      border: opx;
      padding: 0px;
      margin: 0;
      border-bottom-right-radius: 8px;
      
    }
    
    .btnprix p .prix, .btnprix p i {
      color: rgb(255, 0, 0);
    }
    
  
     /*Fin document a telecharger sour form de card*/
  
  @media only screen and (max-width: 768px){
    #textes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: 100%;
  }
  
  .post {
    height: max-content;
    background-color: #fff;
    border: 1px solid #0095f8;
    border-radius: 8px;
    overflow: hidden;
    padding: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2px 5px 2px 5px;
  }
  }
  
  
  /* width and height are mandatory */
/* width */
::-webkit-scrollbar {
  max-width: 2px;
  height: 3px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  cursor: pointer;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  cursor: pointer;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #b30000; 
}

  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles spĆ©cifiques aux tablettes */
    #textes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      height: 100%;
    }
    
    .post {
      height: max-content;
      background-color: #fff;
      border: 1px solid #0095f8;
      border-radius: 8px;
      overflow: hidden;
      padding: 0px;
      padding-bottom: 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }